* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: #fff5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1200px;
    margin: 1 auto;
    padding:0 20px;
}

.logo img {
    height: 50px;
    
}


.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li {
    margin-right: 30px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;

}

.main-nav ul li a:hover {
    color: crimson;
}




.header-right a {
    
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    
}

.header-right a:hover {
    color: crimson;
}




/* Media Queries for Responsive Design */

/* Tablets */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-nav ul {
        flex-direction: column;
        width: 100%;
    }

    .main-nav ul li {
        margin: 10px 0;
    }

    .header-right {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .header-right a {
        margin-right: 10px;
    }
}



.speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }



