.ProductDetails{
    background-color: rgb(255,255,255);
    width: 100vw;
    max-width: 100%;
    padding: 3vmax;
    box-sizing: border-box;
    display: flex;
}


.ProductDetails > div{
    width: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;
    border: 1px solid white;
}


.ProductDetails > div:last-child{
    align-items: flex-start;

}


.ProductImage{
    width: 20vmax;
}


.detailsBlock-1 >h2{
    color: rgb(54,54,54);
    font: 600 1.6vmax;
}

.detailsBlock-1 >p{
    columns: rgba(54,54,54,0.582);
    font: 200 0.6vmax;
    padding-bottom: 1vmax;
}


.detailsBlock-2 {
    width: 70%;
}

.detailsBlock-2 .block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vmax;
    border-top: 1px solid rgba(0,0,0,0.205);
    padding: 1vmax 0;
    
}

.detailsBlock-2 .block2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vmax 0;
    
}

.detailsBlock-2 >p{
    color: rgba(17,17,17,0.795);
    font: 400 1.8vmax;
    margin: 1vmax 0;
}



.detailsBlock-2-1{
    display: flex;
    align-items: center;
}

.detailsBlock-2-1-1>button{
    border: none;
    background-color: rgba(0,0,0,0.616);
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}

.detailsBlock-2-1-1 >button
:hover{
    background-color: rgba(0,0,0,0.767);
}

.detailsBlock-2-1-1>input{
    border: none;
    padding: 0.5vmax;
    width: 2vmax;
    text-align: center;
    outline: none;
    font: 400 0.8vmax;
    color: rgba(0,0,0,0.74);
}


.detailsBlock-2-1 >button:last-child{
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: tomato;
    font: 500 0.7vmax;
    border-radius: 20px;
    padding: 0.5vmax 2vmax;
    margin: 1vmax;
    outline: none;

}


.detailsBlock-2-1 >button:last-child:hover{
    background-color: rgb(214,84,61);

}

.detailsBlock-2>p{
    border-top: 1px solid rgba(0,0,0,0.205);
    border-bottom : 1px solid rgba(0,0,0,0.205);
    padding: 1vmax 0;
    color: rgba(0,0,0,0.616);
    font: 400 1vmax;
    margin: 1vmax 0;
}

.detailsBlock-3{
    color: rgba(0,0,0,0.897);
    font: 500 1.2vmax;

}

.detailsBlock-3>p{
    color: rgba(0,0,0,0.534);
    font: 300 0.8vmax;
}


@media screen and (max-width:600px) {
    .ProductDetails{
        flex-direction: column;
        height: unset;
    }

    .ProductDetails >div:last-child{
        align-items: center;
    }

    .detailsBlock-1>h2{
        font-size: 2.8vmax;
        text-align: center;
    }

    .detailsBlock-1 >p{
        text-align: center;
        font-size: 1vmax;
    }

    .detailsBlock-2 >h1{
        font: 700 3vmax;
        text-align: center;
    }

    .detailsBlock-2-1{
        flex-direction: column;
    }

    .detailsBlock-2-1-1{
        padding: 2vmax 0;
    }

    .detailsBlock-2-1-1>button{
        padding: 1.2vmax;
        width: 3vmax;
    }

    .detailsBlock-2-1-1>input{
        padding: 1.5vmax;
        width: 5vmax;
        font: 400 1.8vmax;
    }

    .detailsBlock-2-1 >button:last-child{
        font: 500 1.7vmax;
        padding-inline-start: 1.5vamx;
        width: 20vmax;
        margin: 3vmax 0;

    }

    .detailsBlock-2>p{
        padding: 2.5vmax;
        text-align: center;
        font: 400 2vmax;
    }

    .detailsBlock-3{
        font: 500 1.8vmax;
    }

    .detailsBlock-3 >p{
        font: 300 1.8vmax;
    }




}